h1 {
  color: #4b8f8c;
}
#table_paises {
  margin: 0 auto;
  border: 0.15rem solid black;
  border-radius: 1.5rem;
  margin-top: 0.75rem;
}
.imgs_paises {
  border-radius: 1.5rem;
  padding: 0.5rem;
  height: 400px;
}
