body {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
html,
body {
  height: 100%;
}

#cabecalho {
 width: 100%;
background-color: #1f1f1f;
border-radius: 0 0 25px 25px ;

}
#cabecalho svg {
  padding-left: 2rem;
  height:45px;
  width:35px;
}
#cabecalho nav {
  display: flex;
  align-items: center;
}
#cabecalho span {
  margin: 0 auto;
  color: white;
  font-size: 1.5rem;
  width: 14rem;
}
#conteudo {
  flex: 1 0 auto;
}

#rodape {
  flex-shrink: 0;
  width: 100%;
  background-color: #1f1f1f;
  border-radius: 35px 35px 0 0;
  padding-top: 1.5rem;
  height: 2rem;
}
#rodape a,
#rodape p {
  color: white;
  margin: 0;
}

h1,
#rodape {
  text-align: center;
}
